name: Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.4'

      - name: Run go vet
        run: go vet ./...

      - name: Run staticcheck
        if: success() || failure()
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false

      - name: Run gofmt
        if: success() || failure()
        run: |
          out=$(gofmt -s -l .)
          if [[ -n "$out" ]]; then
            echo $out | tr " " "\n" | awk '{print "::error file=" $0 ",line=0,col=0::File " $0 " is not gofmt-ed."}'
            exit 1
          fi
